.App {
  text-align: center;
}

.header {
  background-color: #202829;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  border-bottom: solid 2px #333333;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

.code {
  color: #BA1F31;
}

li {
  justify-content: center;
}

.article-list, .comment-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.article-card, .comment-card {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
  padding: 5px;
  border: 2px solid #333333;
  border-radius: 20px;
}

.vote-arrows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-right: solid 2px #333333;
  padding: 5px;
}

.article-body, .comment-body {
  text-align: justify;
}

.article-title {
  margin: 5px
}

.comment-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.article-props, .comment-props {
  margin: 20px
}

#commemt-box {
  height: 100px;
  width: 300px;
}