@font-face {
  font-family: gotham-bold;
  src: url(fonts/Gotham-Bold.otf);
  font-weight: bold;
}

.App {
  text-align: center;
}

.header {
  background-color: #202829;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 25px;
  font-family: gotham-bold;
}

h2 {
  font-size: 20px;
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 10px;
  list-style: none;
  border-bottom: solid 2px #333333;
}

.link {
  border-radius: 2px;
  text-decoration: none;
  background-color: #e9e9e9;
  color: red;
  transition: 0.3s;
}
.link:hover { 
  border-radius: 2px;
  text-decoration: none;
  background-color: red;
  color: white;
}

.code {
  color: #BA1F31;
}

.single-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #a8a8a8;
}

.item-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  justify-content: center;
  background-color: #a8a8a8;
}

.item-card {
  width: 500px;
  background-color: #e9e9e9;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid #333333;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(172, 172, 172);
}

.vote-arrows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-right: solid 2px #333333;
  padding: 5px;
}

.item-body {
  text-align: justify;
}

.item-props {
  margin: 20px;
}

.comment-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.post-section {
  background-color: #e9e9e9;
}

#commemt-box {
    width: 350px;
    height: 115px;
    resize: none;
}

.button {
  background-color: #e9e9e9;
  border: solid 2px #333333;
  border-radius: 10px;
  color: red;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s
}

.button:hover {
  background-color: red;
  border: solid 2px red;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}